/*
- Mobile: 375px
- Desktop: 1440px
*/
:root {

    --pale-violet: hsl(276, 100%, 81%); /* sub-heading at the top of the app UI */
    --moderate-violet: hsl(276, 55%, 52%); /* (chat on the left) */
    --desaturated-dark-violet: hsl(271, 15%, 43%);  /* (chat on the right) */
    --light-violet-bg: rgb(247 245 250);
    
    --grayish-blue: hsl(206, 6%, 79%); /*  (placeholder text):  */
    --very-dark-desaturated-violet: hsl(271, 36%, 24%); /* (main heading) and  (submit button background): */
    --dark-grayish-violet: hsl(270, 7%, 64%); /*  (paragraph): */

    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%); /*  (app background) */
    --very-light-magenta: hsl(289, 100%, 72%); /*  (radio button outline) */

}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif; /* 400, 500, 700 */
    background-color: #fafafa;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}
.bg-color {
    height: 1000px;
    width: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 0;
    background: linear-gradient(0deg, var(--light-violet), var(--light-magenta));
    position: absolute;
    top: -60%;
    left: 0;
    z-index: -1;
}

.bg-color-light {
    height: 600px;
    width: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 500px;
    border-top-right-radius: 0;
    background: var(--light-violet-bg);
    position: absolute;
    bottom: -400px;
    right: 0;
    z-index: -1;
}


main {
    text-align: center;
    padding: 15px;
}

main h1 {
    color: var(--very-dark-desaturated-violet);
    font-size: 2.5rem;
    font-weight: 500;
}

main p {
    color: var(--dark-grayish-violet);
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400;
}

.device-block {
    background-color: var(--white);
    width: 250px;
    height: auto;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 4rem 0;
    box-shadow: 1px 5px 10px #ddd;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.device {
    text-align: left;
    background-color: var(--light-grayish-violet);
    border-radius: 20px;
}
.device .header-device-block {
    text-align: center;
    position: relative;
}
.device .header-device {
    background-color: var(--white);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 200px;
    height: 20px;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    right: 10px;
    left: 10px;
}

.device .header {
    background: linear-gradient(45deg, var(--light-violet), var(--light-magenta));
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px 10px 0 10px;
}
.device .header .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.device .header .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.device .header .user-info .user-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5px;
    font-size: .8rem;
}
.device .header .user-info .user-name .user-status {
    font-weight: 400;
    font-size: .6rem;
    color: var(--pale-violet);
}

.device .header .avatar {
    border-radius: 50px;
    width: 24px;
    border: 1px solid var(--white);
}

.device .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.device .message {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 1rem;
    max-width: 60%;
    font-size: .6rem;
}
.device .message.receive {
    background-color: var(--light-violet-bg);
    color: var(--moderate-violet);
    border-bottom-left-radius: 5px;
}

.device .message.receive.question {
    background: linear-gradient(270deg, var(--light-violet), var(--light-magenta));
    color: var(--pale-violet);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.device .message.receive.question span {
    font-weight: 700;
    float: right;
     color: var(--white);
}
.device .message.receive.question .question-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.device .message.receive.question .question-info > div {
    margin-right: 5px;
}
.arrow-right,
.arrow-left {
    max-height: 15px;
}
.img-menu {
    max-height: 10px;
}

.separator {
    height: 15px;
}

.device .message.send {
   background-color: var(--white);
   color: var(--desaturated-dark-violet);
   text-align: right;
   display: flex;
   align-self: flex-end;
   border-bottom-right-radius: 5px;
   box-shadow: 1px 3px 3px #ddd;
}

.device .image-sent {
    border-radius: 15px;
    max-width: 50px;
    margin-left: 5px;
}
.device .images {
    background-color: transparent;
    box-shadow: none;
    padding: 0 5px;

    text-align: right;
   display: flex;
   align-self: flex-end;
   margin-bottom: .5rem;
}
.device .input-radio {
    border: 1px solid var(--very-light-magenta);
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-flex;
}

.device .write-message {
    width: 100%;
    display: flex;
    position: relative;
}
.device .write-message  input {
    border-radius: 50px;
    border: none;
    padding: 20px;
    width: 100%;
}

.device .write-message input::placeholder {
    color: var(--grayish-blue);
}

.device .write-message  button {
    background-color: var(--very-dark-desaturated-violet);
    color: var(--white);
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    font-weight: 700;

    position: absolute;
    right: 5px;
    bottom: 8px;
    line-height: 2.8;
}


@media(min-width: 600px) {
    body {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        overflow: hidden;
    }
    .bg-color {
        width: 36%;
        height: 85vh;
        top: 0;
        left: -100px;
        border-bottom-left-radius: 500px;
    }

    .bg-color-light {
        height: 85vh;
        width: 36%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        bottom: 0;
        right: -100px;
    }
    
    .container {
        width: 40%;
    }
    .device-block {
       float: right;
    }
    .device {
        max-width: 250px;
    }
    main {
        width: 40%;
        text-align: left;
        margin-right: 8rem;
    }
    main p {
        font-size: 1.1rem;
        line-height: 1.8;
    }

    .device .message {
        border-radius: 8px;
        margin-bottom: .5rem;
    }

    .device .images {
        margin-bottom: .5rem;
    }

    .device .write-message input {
        padding: 10px 15px;
        font-size: 11px;
    }

    .device .write-message button {
        width: 26px;
        height: 26px;
        font-size: 0;
        right: 4px;
        bottom: 3px;
    }
}